.controle-container {
  padding: 0px 12%;
  width: 100%;
  margin-top: 100px;
  filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.08));
}

/* CONTAINER PRINCIPAL */
.controle-cards-container {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 100px;
  filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.08));

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.controle-container h1 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 25px;
  font-weight: 700;
  color: #0b3c5d;
}

.controle-description {
  text-align: center;
  font-size: 0.95rem;
  color: #7f8c8d; /* Cinza discreto */
  margin-bottom: 5px;
}

/* CARD BASE */
.section-box {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s;
}

.section-box h3 {
  padding-left: 14px;
}

.section-box:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}

.section-box.full {
  grid-column: 1 / -1;
}

.controle-section-title {
  background: #0b3c5d;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid #3282b8;
  gap: 10px;
  padding: 16px;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 14px;
  border-bottom: 1px solid #ecf0f1;
  font-size: 0.95rem;
  color: #0b3c5d;
}

.list-item:last-child {
  border-bottom: none;
}

.switch {
  position: relative;
  width: 50px;
  height: 26px;
  background: #bdc3c7;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.2s;
}

.switch.active {
  background: #3282b8;
}

.switch-circle {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  transition: left 0.2s;
}

.switch.active .switch-circle {
  left: 27px;
}

@media (max-width: 900px) {
  .controle-container {
    grid-template-columns: 1fr;
  }
}
