.menu-container {
  width: 250px;
  margin-top: 150px;
  margin-left: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.menu-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.15));
}

.menu-btn {
  display: block;
  width: 100%;
  background: #3282b8;
  color: white;
  padding: 14px 10px;
  text-align: center;
  border-radius: 8px;
  font-size: 1rem;
  text-decoration: none;
  transition: 0.2s;
}

.menu-btn:hover {
  filter: brightness(0.9);
}
