.usuarios-container {
  padding-left: 50px;
  margin-right: 12%;
  width: 1400px;
  margin-top: 150px;
  margin-left: auto;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.15));
}

.usuarios-container h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.tabela-usuarios {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
  overflow: hidden;
}

.tabela-usuarios th {
  background: #c5e1ff;
  padding: 14px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}

.tabela-usuarios td {
  padding: 14px;
  border: 1px solid #e5e5e5;  
  height: 64px;
  font-size: 1rem;
  text-align: center;
}

.acoes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.acoes button {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 7px 14px;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.btn-editar,
.btn-suspender,
.btn-excluir {
  background: #3282B8;
  height: 35px;
}

.btn-excluir {
  padding: 7px 10px;
}

.btn-add {
  margin-top: 25px;
  padding: 12px 22px;
  background: #3282B8;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.2s;
}

.btn-add:hover {
  filter: brightness(0.9);
}
